<!DOCTYPE html>
<html lang="en-US">
       <head>
   <meta charset="utf-8">
               <title>Al Cesar lo que es del Cesar</title>
               <%= stylesheet_link_tag '/assets/application' %>
                 <%= javascript_include_tag '/assets/application' %>
       </head>
       <body>
            <%= partial 'layouts/navigator' %>
            <%= yield %>
       </body>
</html>
